form{
    margin-left: 40%;
    text-align: center;
    width: 20%; 
    text-align: center; 
    
    h1{
        text-align: center;
    }
    input{
        margin-left: 40%;
    }
    .sel{
        margin-left: 45%;
        width: 100;
        height: 30;
        
    }
    p{
        margin-left: 45%;   
    }
}